/* ~~~~~~~~~STYLES ON ALL~~~~~~~~ */

* {
  font-family: monaco monospace;
  color: white;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7395AE;
  background-image: url("https://www.cssdesignawards.com/articleimages/2014/20140826/13-infiniteCss.jpg");
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBuQOxExxcaMB5VF1pWua96jyd6r1CeFeGUw&usqp=CAU"); */
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ~~~~~~~~~~~ SECTIONS ~~~~~~~~ */

header {
 display: flex;
 justify-content: center;
}

.win-message {
  display: flex;
  font-size: 3em;
  padding: .5em;
  align-items: center;
  align-self: center;
  text-align: center;
  height: 1.5em;
  color: #7395AE;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wins-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 6em;
}

/* ~~~~~~~~~~~~ CARDS ~~~~~~~~~~~ */

.card {
  height: 22em;
  width: 15em;
  margin-top: 8em;
  border-radius: 10px;
  box-shadow: 0 0 13px;
}

.player-cards {
  background-image: url("./assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-card {
  box-shadow: 0 0 20px #7395AE;
}

.player2-card {
  box-shadow: 0 0 20px #7395AE;
}

.center-card-image {
  height: 22em;
  width: 15em;
  border-radius: 10px;
}

/* ~~~~~~~~~~~ WIN MESSAGES ~~~~~~~~~~~ */

.wins {
  font-size: 1.7em;
  margin: .5em 0 6em 0;
}

.player1-wins {
  margin-right: 2em;
}

.player2-wins {
  margin-left: 2em;
}

/* ~~~~~~~~~ VISIBILITY ~~~~~~~~ */

.hidden {
  display: none;
}

.invisible {
  visibility:hidden;
}
