/* ~~~~~~~~~STYLES ON ALL~~~~~~~~ */

* {
  font-family: sans-serif monospace;
  color: white;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  /* border: 1px solid red;  */
}

body {
  background-color: #0099cc;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ~~~~~~~~~~~ SECTIONS ~~~~~~~~ */

header {
 display: flex;
 align-items: center;
 text-align: center;
}

.header-message {
  align-items: center;
  align-self: center;
  text-align: center;
  /* margin-left: 375px; */
  /* padding: 3em; */
  font-size: 1.2em;
}

.win-message {
  display: flex;
  font-size: 3em;
  padding: .5em;
  align-items: center;
  align-self: center;
  text-align: center;
}

.all-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wins-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 6em;
}

/* ~~~~~~~~~~~~ CARDS ~~~~~~~~~~~ */

.card {
  height: 22em;
  width: 15em;
  margin-top: 8em;
  border-radius: 10px;
  box-shadow: 0 0 13px;
}

.player-cards {
  background-image: url("./assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.player1-card {
  box-shadow: 0 0 20px red;
}

.player2-card {
  box-shadow: 0 0 20px blue;
}

.center-card {

}

.center-card-image {
  height: 22em;
  width: 15em;
  border-radius: 10px;
}

/* ~~~~~~~~~~~ WIN MESSAGES ~~~~~~~~~~~ */

.wins {
  font-size: 1.7em;
  margin: .5em 0 6em 0;
}

.player1-wins {
  margin-right: 2em;
}

.player2-wins {
  margin-left: 2em;
}

/* ~~~~~~~~~ VISIBILITY ~~~~~~~~ */

.hidden {
  display: none;
}

.invisible {
  visibility:hidden;
}
